.AppWrapper {
  width: 1110px;
  margin: 0 auto;

  display: grid;

  grid-template-columns: 2fr 10fr;
  grid-template-rows: 50px minmax(251px, 1fr);
  gap: 5px;

  grid-template-areas:
            "head head head"
            "ava content content"
            "nav content content";

  font-family: 'Roboto', sans-serif;
}





