.NewPostsWrapper {
    box-sizing: border-box;
    width: 823px;
    height: 251px;
    background: #60DD26;
    border: 1px solid #000000;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}